<!DOCTYPE html>
<html>
<head>
    <title>task_8</title>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
</head>
<body class="h-100">

    <header></header>
    <main class="container h-100">
        @RenderBody()
    </main>


</body>
</html>