@model ImageBase.WebApp.Data.Dtos.AuthenticationDto.RegisterUserDto
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row h-100 align-items-center justify-content-center">

    <form class="col-lg-4 col-md-6" method="post" 
          asp-controller="Authentication" 
          asp-action="register">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Sign Up</h2>
            <a href="/api/Authentication/login">Sign in</a>
        </div>
        <div class="form-group">
            @Html.ValidationMessage("UserExcisting")
            <label asp-for="Email">e-mail: </label><br />
            <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Your email" required>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Password: </label><br />
            <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password" required>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="PasswordConfirm">Confirm your password: </label><br />
            <input asp-for="PasswordConfirm" type="password" class="form-control" id="password-confirm" placeholder="The same password as above" required/>
            <span asp-validation-for="PasswordConfirm"></span>
        </div>

        <span class="input-group-btn">
            <input type="submit" class="btn btn-primary btn-block" value="Register">
        </span>
    </form>
</div>

